.carousel {
    height: 800px;
    width: 100%;
}

.carousel-item {
    height: 800px;
    width: 100%;
}

.d-block {
    height: 800px;
    width: 100%;
}

.banner {
    width: 100%;
    height: 300px;
}

.schedule {
    background-color:#4c4f4f;
    padding-bottom: 2%;
}
.upcoming {
    color:#279b9b;
}