.container {
    background-color: #4c4f4f;
    padding-top: 2%;
    margin-top: 50px;
}

body {
    background:url("../images/dota-2-picture_112431763_222.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: scroll;
}

#container-1 {
    position: relative;
    padding-left: 5%;
    font-weight: bold;
}

#submit-btn {
    margin-top: 5px;
}