body{
    background:url("../images/dota-2-picture_112431763_222.jpg") no-repeat center center fixed;
    background-size: cover;
}

.container {
    background-color: #4c4f4f;
    position: relative;
    padding-top: 2%;
    margin-top: 50px;
}

.streamers {
    background-color: #212529;
    color: white;
}

.streamers-header {
    font-weight: bold;
}

a {
    color: white;
}

.navbar {
    background-color: #212529 !important;
}

.streamers-header {
    background-color: #a6a6a6;
    text-align: center;
    color: #212529 !important;
}

#signup-header {
    background-color: #212529;
    font-weight: bold;
    color: white;
    width: 50%; 
    margin: 75px auto 0 auto;
    padding: 5px;
    border-radius: 5px;
}

#signup-pg-container {
    width: 70%;
    margin: 0 auto;
}

#container-1 {
    width: 45%;
    background: #212529;
    float: left;
    margin-right: 10px;
}

#container-2 {
    background: #212529;
    color: white;
    width: 50%;
}

#email-input-form {
    margin: 5px;
}

#users-table {
    margin: 5px;
    width: 100%;
}

select.error, textarea.error, input.error {
    color: rgb(185, 0, 0);
}

#email-input-error {
    margin-left: 5px;
    color: rgb(185, 0, 0);
}

.modal-header {
    background: #212529;
    color: white;
    font-weight: bold;
}

.modal-body {
    background: #212529;
    color: white;
    font-weight: bold;
}

.modal-footer {
    background: #212529;
    color: white;
    font-weight: bold;
}

#steamNewsArticles {
    padding-bottom:30px;
}

#steamNewsArticles a:hover {
    text-decoration: none;
    color: #212529;
}

h1 {
    color: white;
}

#twitchVideo {
    height: 489px; 
    width: 100%;
}

@media only screen and (max-width: 783px) {
    #twitchVideo {
        padding-top: 20px;
    }
  }

