body{
    background:url("https://dotesports-cdn-prod-tqgiyve.stackpathdns.com/thumbor/Gc75aRiB_U75cii694p_1D6FobE=/1200x0/filters:no_upscale()/https://dotesports-cdn-prod-tqgiyve.stackpathdns.com/article/b8380a47-a76a-40f4-a8d0-d0180ea037f3.png") no-repeat center center fixed;
    background-size: cover;
}

.container {
    background-color: #4c4f4f;
    position: relative;
    padding-top: 2%;
    margin-top: 50px;
}

.streamers {
    background-color: #212529;
    color: white;
}

.streamers-header {
    font-weight: bold;
}

a {
    color: white;
}

.navbar {
    background-color: #212529 !important;
}

.streamers-header {
    background-color: #a6a6a6;
    text-align: center;
    color: #212529 !important;
}

#signup-header {
    background-color: #212529;
    font-weight: bold;
    color: white;
    width: 50%; 
    margin: 75px auto 0 auto;
    padding: 5px;
    border-radius: 5px;
}

#signup-pg-container {
    width: 75%;
    margin: 0 auto;
}

#container-1 {
    width: 45%;
    background: #212529;
    float: left;
    margin-right: 10px;
}

#container-2 {
    background: #212529;
    color: white;
    width: 50%;
}

#email-input-form {
    margin: 5px;
}

#users-table {
    margin: 5px;
    width: 100%;
}

select.error, textarea.error, input.error {
    color: rgb(185, 0, 0);
}

#email-input-error {
    margin-left: 5px;
    color: rgb(185, 0, 0);
}

.articlesContainer a:hover{
    text-decoration: none;
    color: #212529;
}
